<div style='font-family:Arial, Helvetica, sans-serif;'>
    <p>
        Hi {{name}}
    </p>
    <p>
        Please confirm that you wish to join {{communityName}}.
    </p>
    <div>
        <a href='https://iris-talk.com/confirm/{{community}}/{{intakeKey}}'
            style='font-size: 20px; margin-left: 16px; margin-right: 16px; display: inline-block; color: white; text-decoration: none; border-radius: 8px; background-color: #0084ff; padding: 8px 12px'
            >
            Confirm Signup
        </a>
    </div>
    <div style='color: #666; border-top: 1px solid #ddd; margin-top: 32px;'>
        <p style='margin-top: 32px;'>
            Since you were not logged in when you filled in the signup form, we need you to
            confirm that the sign up was actually from you.
        </p>
        <p>    
            If you did not sign up for {{communityName}} please contact us at contact@iris-talk.com.
        </p>
    </div>
</div>
