<div style='font-family:Arial, Helvetica, sans-serif; max-width: 500; margin: 8px'>
    <p>
        <strong>{{hostName}} has accepted your request to join {{groupName}}</strong>
    </p>
    <div style='margin-top: 32px; margin-bottom: 32px; margin-left: 32px;'>
        <a href='https://iris-talk.com/group/{{groupKey}}'
            style='font-size: 20px; margin-left: 16px; margin-right: 16px; display: inline-block; color: white; text-decoration: none; border-radius: 8px; background-color: #0084ff; padding: 8px 12px'
            >
            Go to Conversation
        </a>
    </div>

    <div style='color: #666; border-top: 1px solid #ddd; margin-top: 32px;'>
        <p>You can leave a community at any time using <a href='https://iris-talk.com/unsubscribe'>this link</a></p>
        <p>We only invite you to chat about topics you have asked to talk about. </p>
        <p>Reply to this email if you need support.</p>
    </div>
</div>
