{{#notifList}}
    <div style='border: 1px solid #ddd; border-radius: 8px; max-width: 500px; padding: 8px; margin-top: 8px;'>
        <a href='https://talkwell.net/notifs' style='margin: 0px'><strong>{{title}}</strong></a>

        <p style='margin-top: 2px; margin-bottom: 0px; color: #666'>{{body}}</p>
    </div>
{{/notifList}}

<a style='display: inline-block; margin-top: 16px; margin-bottom: 16px; border: 1px solid #ddd; padding: 4px 8px; border-radius: 4px; background-color: #eee; color: black; text-decoration: none;' 
    href='https://talkwell.net/notifs'>See All Notifications</a>

<div style='font-size: 12px; color: #999'>
    This email was sent by Talkful (213 N Bayview Ave, Sunnyvale, CA 94086).
</div>

<div style='font-size: 12px; color: #999'>
    If you don't want to receive notifications by email, either 
    <a href='https://testflight.apple.com/join/hyvFrjwc'>install the iPhone app</a> or 
    <a href='{{unSubURL}}'>unsubscribe</a>.
</div>

